<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "WhereIsMyPhone", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
          <% if current_user %>
            <li><%= current_user.username %></li>
            <li><%= link_to "Sign Out", signed_out_path %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_path %></li>
            <li><%= link_to "Sign In", sign_in_path %></li>
          <% end %>

      </ul>
    </nav>
  </div>
</header>