

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "WhereIsMyPhone", '#', id: "logo" %>
    <nav>
          <% if current_user %>
              <ul class="nav navbar-nav navbar-right">
              <li><a>Ongi etorri: <%= current_user.username %></a></li>
              <li><a href="<%=root_path%>">Home</a></li>
                <li><a href="<%=change_password_path%>">Change password</a></li>
              <li><a href="<%=signed_out_path%>">Sign Out</a></li>
              </ul>
          <% else %>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="<%=root_path%>">Home</a></li>
                <li><a href="<%=new_user_path%>">Sign up</a></li>
                <li><a href="<%=sign_in_path%>">Sign In</a></li>
              </ul>
          <% end %>
    </nav>

  </div>
</header>