<div class="header">
  <div class="wrap">
    <div class="header-left">
      <div class="logo">
        <a href="index.html">Runkeeper</a>
      </div>
    </div>
    <div class="header-right">
      <div class="top-nav">
        <ul>
          <% if current_user %>
                <li><a>Ongi etorri: <%= current_user.username %></a></li>
                <li><a href="<%=root_path%>">Home</a></li>
                <li><a href="<%=change_password_path%>">Change password</a></li>
                <li><a href="<%=signed_out_path%>">Sign Out</a></li>
          <% else %>
                <li><a href="<%=root_path%>">Home</a></li>
                <li><a href="<%=new_user_path%>">Sign up</a></li>
                <li><a href="<%=sign_in_path%>">Sign In</a></li>
          <% end %>
        </ul>
      </div>
      <div class="sign-ligin-btns">
        <ul>
          <li id="signupContainer"><a class="signup" id="signupButton" href="#"><span><i>Signup</i></span></a>
            <div class="clear"> </div>
            <div id="signupBox">
              <form id="signupForm">
                <fieldset id="signupbody">
                  <fieldset>
                    <label for="email">Email Address <span>*</span></label>
                    <input type="text" name="email" id="signupemail" />
                  </fieldset>
                  <fieldset>
                    <label for="password">Choose Password <span>*</span></label>
                    <input type="password" name="password" id="signuppassword" />
                  </fieldset>
                  <fieldset>
                    <label for="password">Confirm Password <span>*</span></label>
                    <input type="password" name="password" id="signuppassword1" />
                  </fieldset>
                  <input type="submit" id="signup" value="Register Now!" />
                </fieldset>
              </form>
            </div>
            <!-- Login Ends Here -->
          </li>
          <li id="loginContainer"><a class="login" id="loginButton" href="#"><span><i>Login</i></span></i></a>
            <div class="clear"> </div>
            <div id="loginBox">
              <form id="loginForm">
                <fieldset id="body">
                  <fieldset>
                    <label for="email">Email Address</label>
                    <input type="text" name="email" id="email" />
                  </fieldset>
                  <fieldset>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" />
                  </fieldset>
                  <label class="remeber" for="checkbox"><input type="checkbox" id="checkbox" />Remember me</label>
                  <input type="submit" id="login" value="login" />
                </fieldset>
                <span><a href="#">Forgot your password?</a></span>
              </form>
            </div>
            <!-- Login Ends Here -->
          </li>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="clear"> </div>
    </div>
    <div class="clear"> </div>
  </div>
</div>
